*{
	box-sizing: border-box;
}

body{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 100vh;
	font-family: 'Roboto',sans-serif;
}

button{
	display: block;
	background-color: #fff;
	border: 1px solid #eee;
	height: 50px;
	width: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.calc{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.calc > button{
	width: 33.33%;
}

.result{
	width: 100%;
	background-color: #eee;
	height: 50px;
	margin-bottom: 20px;
	border: 1px solid #666;
	font-size: 2em;
}

.operations{
	position: absolute;
	top: 0;
	left: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	width: 50px;
}

.operations button{
	width: 100%;	
}

.history {
	display: flex;
	flex-direction: column;
	font-size: 1.2em
}